- 텍스트(입출력할 데이터 종류) 파일(입출력할 대상) 입출력 을 뜻한다.

# 1. 입출력 개요
1. 경로란?

- 파일, 디렉토리 위치 -> 자원의 위치. 프로그램이 사용할 자원의 위치



2. 경로 표현 방법

- ROOT 디렉토리 : 시작 디렉토리

- 윈도우 -> C: , d:

- 리눅스, 유닉스 ->  /



(1) 절대경로

- 시작 디렉토리부터 자원(파일, 디렉토리)의 위치를 표현한다.

    - 시작 디렉토리 : root 디렉토리

    - ex. 파일 경로 c:\class\p1.pdf    디렉토리 경로  c:\class\lib  #윈도우

- 자원의 전체 경로를 경로를 표현하는 방식

- 장점 : 같은 데이터라면 항상 경로 고정 (오류 확률 낮다.)    - 단점 : 길다



(2) 상대경로

- 현재 디렉토리(위치)로부터 찾아가는 경로 표현방식
       - 시작  :  현재 디렉토리

- 장점 : 짧다       - 단점 : 같은 데이터라도 현 위치에 따라 경로가 다르다 (오류 확률 높다.)

- 구문
  -  .    : 현재 디렉토리
  - ..    : 상위 디렉토리
      - 윈도우즈  \   리눅스 유닉스 / : 경로 구분자   ->  하위 계층으로 가라.

- ex.   현재 디렉토리 c:\class 
    - .\p1.pdf  => 현재(.)디렉토리의 하위 계층(\)으로 가라. 
    -보통 .\은 생략한다. p1.pdf

- ex.   현재 디렉토리 c:\class 

     .\01_PYTHON\a.txt  => 현 디렉토리의 하위 계층에서 파이썬 폴더의 하위계층에서 해당 파일을.   보통 .\은 생략한다.  보통 .\은 생략한다. 01_PYTHON\a.txt 



- ex.   현재 디렉토리 c:\lntel\n  => 현 디렉토리에서 나와서 다른 디렉토리로 가야 한다. 

     .\..\..\class\01_PYTHON\a.txt 

보통 .\은 생략한다. ..\..\class\01_PYTHON\a.txt 



** 경로구분자 만날 때 마다 그 해당 디렉토리에 들어간다고 생각하자. ** 계층구조 이해하기(이미지로 생각)

- 현재 경로 - workdirectory 경로 조회

In [4]:
# 현재 경로 - workdirectory 경로 조회

import os # os 모듈을 import
cwd = os.getcwd()   # current work directory
print(cwd)  # 상대경로의 현재위치가 된다. ( . )
# p = .\a\b\abc.txt

C:\Users\CSYJ\SW STUDY\BIG DATA class\PYTHON class

# 입출력
- text 입출력(.txt파일), binary 입출력(.txt제외한 파일, string 제외)

## text 입출력
- 문자열(string)을 입/출력 하는 것.
- 메모장으로 볼 수 있으면 text

In [14]:
# 출력 데이터
txt = """안녕하세요
반갑습니다.
오늘도 즐거운 하루되세요."""
print(txt)

안녕하세요
반갑습니다.
오늘도 즐거운 하루되세요.

### 인코딩

- 우리가 "A"을 작성한다고 해서 그대로 저장되는 게 아님. 기계어 O과 1로 저장되어야 한다. 숫자 10진수는 2진수 바꾸는 방법 우리가 안다. 그렇다면, 문자열을 이진수로 어떻게 바꾸냐? 약속한 표를 만들었다.
    - ASC 코드 : 8bit로 정의한 코드 2\**8=256가 정의되어 있다.영문 알파벳을 사용하는 대표적인 문자 인코딩
        - 근데 영어말고도 많은 언어를 표현할 수 있어야 한다. 그래서 Unicode를 만듦
    - Unicode : 전 세계의 모든 문자를 일관되게 표현하고 다룰 수 있도록.  16bit


- 인코딩 : 원본(내 데이터)를 일관된 형식으로 외부자원에 맞춰 변환하는 것.
- 디코딩 : 내가 다시 받아올 때 원본 형식으로 변환하는 것.

    - 유니코드를 기반으로 인코딩 방식(실질적으로 처리하는 방식)의 다양한 종류가 있다. 


- open 함수에서 encoding="utf-8" 인코딩방식을 다르게 넣을 수 있다. 
    - None일 경우 os 기본 인코딩 방식따름. 윈도우 ANSI
    - 근데 utf-8로 출력하면 입력받을 때도 utf-8로 인코딩 방식을 맞춰서 해줘야 함. 남의 데이터를 입력받을 때도 해당 데이터의 방식을 알아내 읽어준다.

### 출력

In [15]:
# txt의 문자열데이터를 "현재작업경로\a.txt" 파일에 출력(저장)

# 1. a.txt와 연결: 목적-출력, 데이터종류-string(text)

# file_path = r"C:\Users\CSYJ\SW STUDY\BIG DATA class\PYTHON class\a.txt" # 절대경로  
# r붙이면 escape \ 처리 안 하게 # 유닉스 슬러시면 escape 아니라 상관없다.

file_path = "a.txt" # 상대 경로 #  .\을 생략. 같은 디렉토리라

mode = "wt"# 목적데이터종료   
# 목적: w 쓰기모드  데이터 :t  텍스트 모드  #t 기본값이라 안 써도 되지만 써주자.

# encoding="utf-8" 인코딩방식을 다르게 넣을 수 있다. 
# None일 경우 os 기본 인코딩 방식따름. 윈도우 ANSI
# 근데 특정 인코딩방식으로 출력하면 입력받을 때도 인코딩방식 맞춰서 해줘야 함.

fw = open(file_path, mode, encoding="utf-8") # 파일과 지정한 모드에 맞춰서 연결하고 입출력할 수 있는 기능(메소드)를 제공하는 객체를 반환. 이것을 변수로 받아서 쓰면됨.


# - 출력 연결의 경우에는 연결할 파일이 없으면 생성. 있으면 있는 파일과 연결 (단 데이터를 지운다.)
# - 입력 연결의 경우에는 연결할 파일이 없으면 exception 발생.

In [16]:
# 2. 출력 # 출력값은 글자수이다.
fw.write(txt)

27

In [17]:
# 3. 연결 닫기
fw.close()

### 입력

- (참고) 파일명 입력할 때 "a. 하고 tab키 누르면 자동완성 할 수 있음.

- UnicodeDecodeError : 잘못된 (저장된 인코딩방식과 다른) encoding 방식으로 읽을 경우 발생. 해당 파일의 인코딩방식으로 입력받아야 한다.   ex)  encoding=""

In [18]:
i_file_path = "a.txt"  # 상대경로
# 목적 : 읽기 - r(기본값),   데이터 : string(text) - t(기본값) #기본값이니 생략해도 rt
i_mode = "rt"

# 연결
fi = open(i_file_path, i_mode, encoding="utf-8")

# 입력 - read() 받아 변수에 저장
r_txt = fi.read()
print(r_txt)

# 3. 연결닫기
fi.close()

안녕하세요
반갑습니다.
오늘도 즐거운 하루되세요.

In [19]:
# 예외발생으로 "연결닫기 "가 실행 안됨. 
# 연결닫기는 무조건 실행해야 하는 코드

fi = open("a.txt", "rt")
t = fi.read() # 이 줄에서 오류
print(t)
fi.close() # =====> 이 줄 실행 안 함! =====> 예외처리 해줘야 함.

UnicodeDecodeError: 'cp949' codec can't decode byte 0xec in position 0: illegal multibyte sequence

In [20]:


try:
    fi = open("a.txt", "rt")
    t = fi.read() # 이 줄에서 오류
    print(t)

except:
    print("처리")
    
finally:
    print("연결닫기")
    fi.close()

처리
연결닫기

### with block

- with block을 빠져나오면! close를 자동으로 처리한다.

with 연결함수 as 변수: 

    작업코드
    
- print(fi.closed) # 연결여부를 반환받아 체크할 수 있다. : True-끊는 것, False-연결상태

In [21]:
with open("a.txt", "rt", encoding="utf-8") as fi: # fi = open(...)과 동일
    # 입출력코드
    try:
        r = fi.read()
        print(fi.closed) # 연결여부를 반환 : True-끊는 것, False-연결상태
        print(r)
    except:
        print("예외처리")

print("with block 밖", fi.closed)

# with block을 빠져나오면! close를 자동으로 처리한다.

False
안녕하세요
반갑습니다.
오늘도 즐거운 하루되세요.
with block 밖 True

### 출력 메소드

- fw.wirte("")
    - 출력은 여러번에 걸쳐 할 수 있다. 
        - 작업하고 출력하고 작업하고 출력하고 가능한 것
        - but, print와 달리 엔터처리 없음. 이어서 나옴. => \n 넣어줘야 함
    - 출력가능한 타입은 string

In [22]:
with open("b.txt", "wt") as fw:
    
    # 출력은 여러번에 걸쳐 할 수 있다. 
    # 작업하고 출력하고 작업하고 출력하고 가능한 것
    # but, print와 달리 엔터처리 없음. 이어서 나옴. => \n 넣어줘야 함.
    fw.write("안녕하세요\n")
    fw.write("반갑습니다.\n")
    fw.write("조금만 있으면 점심시간이네요.\n")
    fw.write(30) # 출력가능한 타입은 string!!

TypeError: write() argument must be str, not int

In [23]:
# 리스트 출력 fw.

txt_list = ["안녕하세요.\n", "지금 12시 16분입니다.\n", str(120)]

with open("c.txt","wt") as fw:
    fw.writelines(txt_list) # 리스트의 원소들을 한번에 출력 # 엔터 안 넣으면 한줄

# 이처리 대신에
# for t in txt_list:
#        fw.write(txt_list(i))

## 입력메소드
- fi.readlines() : 한줄, 한줄을 원소로 하는 리스트를 반환 
    - 잘 안 씀. 반복문을 이요해 한줄 씩 읽을 경우 - rt모드로 연결한 객체(TextIOWapper)가 iterable => 직접 for in 문의 in 자리에 넣을 수 있다.

print(fi.readline()) #한줄만 읽는다.



** encoding="utf-8" 쥬피터 인코딩 방식

In [4]:
# EX.뉴스 news.txt 파일 읽기 

news_file_path = 'text_data/news.txt'
with open(news_file_path, "rt", encoding="utf-8") as fi:
    news = fi.read() # 파일의 전체내용을 한번에 읽는다.
    
print(fi.closed) # 닫혔는 지 체크
print(news)

True
아스널 레전드가 극찬한 공격수, ‘SON 파트너’로 부상
아스널 레전드가 극찬한 공격수, ‘SON 파트너’로 부상
토트넘 홋스퍼가 손흥민(29), 해리 케인(28) 파트너를 찾았다.
프랑스 풋메르카토는 17일 “토트넘이 리그1 스타드 렌에서 뛰고 있는 프랑스 국적 공격수 마틴 테리어(25)에게 관심 있다”고 보도했다.
토트넘은 현재 프리미어리그 4위로 다음 시즌 챔피언스리그 진출이 유력하다. 안토니오

In [5]:
# EX.뉴스 news.txt 파일 읽기 
# 리스트에 넣어 읽기

with open(news_file_path, "rt", encoding="utf-8") as fi:
    text_list = fi.readlines() # \n 엔터 기준으로 한 줄, 한줄을 원소로 하는 리스트를 반환.

print(text_list) # 리스트 출력
print("--------------")
print(text_list[0])
print(text_list[1])
print(text_list[2])

['아스널 레전드가 극찬한 공격수, ‘SON 파트너’로 부상\n', '아스널 레전드가 극찬한 공격수, ‘SON 파트너’로 부상\n', '토트넘 홋스퍼가 손흥민(29), 해리 케인(28) 파트너를 찾았다.\n', '프랑스 풋메르카토는 17일 “토트넘이 리그1 스타드 렌에서 뛰고 있는 프랑스 국적 공격수 마틴 테리어(25)에게 관심 있다”고 보도했다.\n', '토트넘은 현재 프리미어리그 4위로 다음 시즌 챔피언스리그 진출이 유력하다. 안토니오']
--------------
아스널 레전드가 극찬한 공격수, ‘SON 파트너’로 부상

아스널 레전드가 극찬한 공격수, ‘SON 파트너’로 부상

토트넘 홋스퍼가 손흥민(29), 해리 케인(28) 파트너를 찾았다.

In [6]:
# EX.뉴스 news.txt 파일 읽기 
# 리스트에 넣어 읽기# 줄단위 처리

for line_num, txt in enumerate(text_list, start=1): # 순번 인덱스 붙여서
    print(f"{line_num}. {txt}")

1. 아스널 레전드가 극찬한 공격수, ‘SON 파트너’로 부상

2. 아스널 레전드가 극찬한 공격수, ‘SON 파트너’로 부상

3. 토트넘 홋스퍼가 손흥민(29), 해리 케인(28) 파트너를 찾았다.

4. 프랑스 풋메르카토는 17일 “토트넘이 리그1 스타드 렌에서 뛰고 있는 프랑스 국적 공격수 마틴 테리어(25)에게 관심 있다”고 보도했다.

5. 토트넘은 현재 프리미어리그 4위로 다음 시즌 챔피언스리그 진출이 유력하다. 안토니오

In [7]:
# EX.뉴스 news.txt 파일 읽기 

# read() fi 반복문. 이를 가장 많이 쓴다.
# 그래서 굳이 writelines 쓸 필요 없음.

with open(news_file_path, "rt", encoding="utf-8") as fi:
    for ln, txt in enumerate(fi,start=1):
        print(f"{ln}.{txt}")

1.아스널 레전드가 극찬한 공격수, ‘SON 파트너’로 부상

2.아스널 레전드가 극찬한 공격수, ‘SON 파트너’로 부상

3.토트넘 홋스퍼가 손흥민(29), 해리 케인(28) 파트너를 찾았다.

4.프랑스 풋메르카토는 17일 “토트넘이 리그1 스타드 렌에서 뛰고 있는 프랑스 국적 공격수 마틴 테리어(25)에게 관심 있다”고 보도했다.

5.토트넘은 현재 프리미어리그 4위로 다음 시즌 챔피언스리그 진출이 유력하다. 안토니오

In [9]:
with open(news_file_path, "rt", encoding="utf-8") as fi:
    print(fi.readline()) #한줄만 읽는다.
    print(fi.readline())
    print(fi.readline())

아스널 레전드가 극찬한 공격수, ‘SON 파트너’로 부상

아스널 레전드가 극찬한 공격수, ‘SON 파트너’로 부상

토트넘 홋스퍼가 손흥민(29), 해리 케인(28) 파트너를 찾았다.

In [10]:
# read() fi 반복문을 가장 많이 쓴다.

## binary file 입출력
- text 파일을 제외한 나머지. 
- 모드 : 목적+데이터형식(b)   => rb, wb
- 메소드 : write(), read()  # readline(s)는 txt용이라 안씀.

 EX. 이미지 파일 복사 (읽고 쓰기(다른파일명))

In [17]:
# img.jpg 을 복사 (읽은 뒤에 다시쓰기-다른파일명)
# 1. 파일 읽기
try:
    fi = open('img.jfif', 'rb')
    img = fi.read()
    print(type(img))
finally:    
    fi.close()

<class 'bytes'>

In [18]:
# img.jpg 을 복사 (읽은 뒤에 다시쓰기-다른파일명)
# 2. 파일 쓰기
try:
    fo = open('img3.jfif', "wb")
    fo.write(img)
finally:
    fo.close

In [19]:
# img.jpg 을 복사 (읽은 뒤에 다시쓰기-다른파일명)
# 1.2. 단계 한번에 하고 싶을 때 with문 두 개로 

with open('img.jfif','rb') as fi:
    with open('img3.jfif', 'wb') as fo:
        img = fi.read()
        fo.write(img)

In [20]:
fi.closed, fo.closed

(True, True)

## pickle
- 파이썬 객체(모든 종류의 값)을 binary로 입출력할 때 사용하는 모듈.
    - 입출력을 위해 모든 데이터를 변환!!해주는 모듈

In [10]:
# 리스트 객체를 파일에 저장 
import pickle # 피클 모듈을 import

data = ['abc', '가나다', True, 1000, 200, 30.67]
with open('list.pkl', 'wb') as fo:
    pickle.dump(data, fo) #쓰기. 저장. 

type(data) # 원본데이터를 바꾸는 것은 아니고 입출력할 때 변환하는 것.

list

In [24]:
# 피클로 정한 데이터(리스트)를 읽기
with open('list.pkl','rb') as fi:
    read_list = pickle.load(fi)

In [25]:
read_list

['abc', '가나다', True, 1000, 200, 30.67]

In [29]:
#2 클래스 선언 
class item:
    
    def __init__(self, name, price):
        self.name, self.price = name, price
    def __str__(self):
        return f"Type: {type(self)}, name: {self.name}, price:{self.price}"

In [30]:
#2
import pickle # 피클 모듈을 import

data = item('tv', 250000)

with open('list.pkl', 'wb') as fo:
    pickle.dump(data, fo) #쓰기. 저장.

In [33]:
# 2 피클로 정한 데이터(리스트)를 읽기
with open('list.pkl','rb') as fi:
    read_list = pickle.load(fi)
print(read_list)
print(type(read_list))

Type: <class '__main__.item'>, name: tv, price:250000
<class '__main__.item'>

## 문제_ TODO

In [36]:
# TODO - 간단한 메모장
# 사용자로부터 파일명을 입력받는다.(input())
# 사용자로 부터 파일에 저장할 문장을 입력받아서 파일에 저장한다. ->반복
# 사용자가 !q 를 입력하면 종료한다. -> 조건?
# 사용자가 저장한 파일을 읽어서 출력한다.

In [73]:
def simple_memo():
    fname = input("파일명은?:")

    with open(fname, "wt") as fw:
        print("내용을 입력하시오.")
        print("----------")
        while True:
            line =input()
            if line == "qi":
                break
            else:
                fw.write(line+"\n")
    with open(fname, "rt") as fi:
        r1 = fi.read()
        print("------------")
        print("<입력받은 값>")
        print(r1)

        
simple_memo()

In [81]:
from my_package.memo import simple_memo as s_memo

s_memo()

파일명은?:tlft
내용을 입력하시오.
----------
d
d
qi

## CSV (Comma Separated Value) 파일 형식
- 데이터를 **표형태**로 **텍스트파일**에 저장하기 위한 문서형식
- 하나의 데이터는 한 줄에 작성 (엔터 : 데이터값 구분자)
- 하나의 데이터를 구성하는 속성값들은 ',' 로 구분

In [82]:
# TODO - csv 파일을 읽어서 각 열의 값을 배열에 담는다.
# 이름,나이,주소  형태의 csv를 읽어
# names = []
# ages =[]
# address =[]
# 리스트에 넣는다. (라인이 index가 된다.) 

# csv 파일 : 표 데이터. 행열 
# csv를 텍스트데이터로 만들고 싶다. 한줄당 하나의 데이터 각각의 컬럼은 쉼표로 표시.
# c(콤마)로 불리한 파일 : csv
# 현 파일은 3열 7줄 (첫번째줄: 열 라벨, 두번째줄부터: 데이터) 줄단위가 데이터들.김영수 박영희.... /행단위가 속성들name age address

In [2]:
# 강사님 코드
names = []
ages = []
address = []

with open("member.csv", "rt", encoding="utf-8") as fi:
    
    for idx, line_num in enumerate(fi):
        if idx == 0: # 첫번째 줄 제외를 위해
            continue
        info = line_num.split(",")
        
        names.append(info[0])
        ages.append(info[1])
        address.append(info[2].strip()) # \n을 없앨 수 있다.
    
fi.close
print(names) 
print(ages) 
print(address)

# 강사님 코드랑 비교하기

['김영수', '박영희', '오민수', '최정길', '이명수', '이철수']
['20', '21', '30', '15', '22', '17']
['서울', '서울', '부산', '인천', '광주', '대전']

In [26]:
# 내가 푼 것

names =[]
ages =[]
address=[]

with open("member.csv", "rt", encoding="utf-8") as fi:
    
    text_list = fi.readlines()
    for line_num in text_list[1:]:
        info = line_num.split(",")
        names.append(info[0])
        ages.append(info[1])
        address.append(info[2].strip())
    
fi.close
print(names) 
print(ages) 
print(address)

['김영수', '박영희', '오민수', '최정길', '이명수', '이철수']
['20', '21', '30', '15', '22', '17']
['서울', '서울', '부산', '인천', '광주', '대전']

In [32]:
# 강사님 코드2 리스트 대입으로 풀기 ___ 다시 풀기


with open("member.csv", "rt", encoding="utf-8") as fi:
    
    for idx, line_num in enumerate(fi):
        if idx == 0:
            continue
        info = line_num.split(",")
        print(info)
        name, age, address = info

    
fi.close
print(names) 
print(ages) 
print(address)

['김영수', '20', '서울\n']
['박영희', '21', '서울\n']
['오민수', '30', '부산\n']
['최정길', '15', '인천\n']
['이명수', '22', '광주\n']
['이철수', '17', '대전\n']
['김영수', '박영희', '오민수', '최정길', '이명수', '이철수']
['20', '21', '30', '15', '22', '17']
대전

In [6]:
# EX. name, ages, address => member_ 2.csv 파일에 csv 형식으로 저장하기(zip())

with open("member_2.csv","wt", encoding="utf-8") as fi:
    fi.write("name,age,address\n")
    
    #같은 인덱스끼리 튜플로 묶어서 # 튜플대입
    for name, age, addr in zip(names,ages,address): 
        fi.write(f"{name},{age},{addr}\n")

fi.closed

# 튜플 리스트 딕션 대입법 공부하기!!!

True

In [8]:
# EX.판다스 csv파일 불러오기

import pandas as pd  # 아나콘다 내장. 파이썬기본실행환경 내장 x pip 다운받아야함.

df = pd.read_csv('member_2.csv')
df

  name  age address
0  김영수   20      서울
1  박영희   21      서울
2  오민수   30      부산
3  최정길   15      인천
4  이명수   22      광주
5  이철수   17      대전

In [10]:
# EX.판다스 csv파일 불러오기

df['name']

0    김영수
1    박영희
2    오민수
3    최정길
4    이명수
5    이철수
Name: name, dtype: object