In [1]:
#문자열 

#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.

code = "901211-1027213"
print("생년월일 :", code[0:6])

# split, list 이용.
print("생년월일 :", code.split('-')[0])

생년월일 : 901211
생년월일 : 901211

In [2]:
#2. "안녕하세요" 를 10번 출력하시오.

print("안녕하세요"*10)

안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요

In [3]:
#3. 다음 문자열의 글자수를 출력하시오.
x = "akdlclkdkdlelql39du7마구0ㅌ" 

print(len(x))

24

In [4]:
#4.
name="TV"
price=300000
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"

print("제품명 : {}, 가격 : {}, 제조사 : {}".format(name,price,maker))

# f-spring
print(f"제품명 : {name}, 가격 : {price}, 제조사 : {maker}")

# 형식 문자. 가격에 %s 넣으면 문자열로 나옴. 출력할 때는 상관없지만.
print("제품명 : %s, 가격 : %d, 제조사 : %s" %(name,price,maker))

제품명 : TV, 가격 : 300000, 제조사 : LG
제품명 : TV, 가격 : 300000, 제조사 : LG
제품명 : TV, 가격 : 300000, 제조사 : LG

In [5]:
#5
fruits = "사과 복숭아 귤 배"
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.

y = "수박" in fruits
print("수박 없습니다." if y == 0 else "수박 있습니다.")
print("수박 없습니다." if "수박" not in fruits else "수박 있습니다.")

수박 없습니다.
수박 없습니다.

In [6]:
#6 
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
# str_value 문자열안에 a가 몇개 있는지 출력하시오.

print("a의 개수 :",str_value.count("a"))

print(str_value.count("dj"))

a의 개수 : 9
2