## 쥬피터 노트북 단축키
- enter : 편집모드로
- shift + enter : 실행 후 다음 cell로 이동한다.
- ctrl + enter : 실행후 실행한 cell에 머무른다.
- shift + ctrl + - : 셀 잘라내기

# PYTHON 변수와 데이터 타입

In [2]:
# 기본 연산
1+3

4

## 1. 변수

In [1]:
# 변수 선업 및 대입(할당) 구문
name = "홍길동" 

# "홍길동" 문자열 값을 name 이라는 변수에 대입.
# 이름이 name인 공간이 메모리에 없으면 새로 만들고 대입한다.
# 있으면 있는 공간에 대입한다. 그러면 값이 바뀌는 결과.

- 출력 함수 : print(값)
    - ()안의 값을 출력하는 함수. 변수는 값이 아님. 변수 안의 값을 출력하는 것.

In [2]:
print(name)

홍길동

In [8]:
age = 25
print(age) # age 변수의 값을 출력

25

- 재할당 : 변수 공간이 메모리에 있으면 있는 공간에 대입한다. 그러면 값이 바뀌는 결과.

In [12]:
age= 50 # age 변수의 값을 50으로 재할당
name = '이순신'
print(age)
print(name)

50
이순신

- 정수를 담은 변수로 연산 처리 
    - +, -, *, ***, /, //, %

In [13]:
#1 age 변수가 가진 값과 20을 더하는 처리. #2. 1에서 처리한 값을 age 변수에 대입
age = age + 20
age2 = age - 40

print(age2)
print(age)

30
70

- 이름이 address인 변수의 값을 출력 ->없는 변수를 사용할 경우 에러 발생 : NameError

In [45]:
print(address)

In [14]:
Age = 50
print(age,Age) #두개 출력할 때 콤마 하면 됨. 그럼 콤마없이 값만 출력

70 50

In [37]:
주소 = '서울시'
print(주소)

서울시

In [38]:
우리집_주소 ='서울시 강남구' #특수문자는_ 사용가능. _는 단어 구분자로 사용. (snake 표기법)

In [39]:
print(우리집_주소)

서울시 강남구

In [40]:
my_email_address = 'abc@abc.com' #파이썬은 이게 관례적 표기

In [42]:
# myEmailAddress #이렇게 단어 구분 표기할 수 있다. (cmel 표기법) #자바는 이게 관례적 표기

In [44]:
# 2age = 30 #변수명에서 숫자를 첫번째 글자로 할 수 없다.

- 변수 선언 및 대입(할당)의 여러가지
    - 여러 변수 동시 선언 및 값 대입
        - a = b = 0
        - a, b, c = 1, 2, 3 => **tuple 대입법!**
    - 변수 삭제
        - del 변수명 : 메모리에서 아예 삭제. 아예 선언 전처럼.

In [48]:
# 여러개 변수에 같은 값을 대입하고 싶을 때
a = 10
b =10
c = 10
a = b = c = 20
print(a, b, c)

- **튜플 대입 (Tuple assignment)**
    - 여러개의 값을 여러개 변수에 한번에 대입
    - 변수의 개수와 값의 개수가 같아야 한다. 당연히 짝이 맞아야 함.
    - 갯수가 맞으면 몇 개든 상관없다.

In [51]:
a, b, c = 10,20, 30
print(a,b,c)

10 20 30

In [15]:
del age2
#print(age2) 출력하면 정의되어있지 않다고 오류

- 동적타입언어
    - 변수의 데이터 타입을 '실행' 시점에 결정한다.
    - 변수 선언 시 데이터 타입을 지정하지 않는다.
    - 그래서 하나의 변수에 다양한 타입의 값들을 대입 또는 재할당 할 수 있다.
    - python
- 정적타입언어
    - 변수의 데이터 타입이 '선언' 시점에 결정되어 하나의 타입의 값만 저장할 수 있도록 한다.
    - 정수로 선언된 변수에 문자열을 넣을 수 없다.
    - 변수에 타입을 고정해서 같은 타입의 값들만 저장.
    - c c++ java
- type(값) : 변수나 값의 데이터 타입을 확인 하는 함수
    - 동적언어타입 프로그래밍에서 유용하게 쓰인다.

In [62]:
age = 30 # 정수 대입
print(age)
age ='스무살' #문자열 대입
print(age)

30
스무살

In [ ]:
# 정적 동적 장단점.

age = 30
# 그리고 수천줄 코드가 있다..
age2 = age + 5 

# 이때 이게 실행이 될까,, 50줄 안에 만약 age를 문자열 대입했다면? 코드를 다 봐야 알 수 있다. 
# 정적은 이걸 고민할 필요 없다. 선언 부분만 봐도 정수를 선언한 것은 확실.
# 그래서 정적타입이 불편하지만 더 안정할 수 있다.

In [63]:
# 값, 변수의 타입 확인하는 함수 - type(값) 코드를 다 확인할 수 없으니 이 함수를 쓰자.
# 동적타입언어에서 쓰면 좋고, 조건문과 함께 이 타입이면 이 연산 이런 식으로
type(age)

str

In [64]:
# type(tall,age) 이렇게는 못 쓴다. 하나씩만.

tall = 16.9
type(tall)

float

- 변수 = 변수 : 오른쪽 변수에 있는 값을 왼쪽 변수에 넣어라. 복사의 개념.

In [3]:
# 기존에 값 할당한 변수에 있는 값은 복사하여 변수에 넣을 수 있다. 
age = 3
text = age
print(age)

3

In [4]:
# 파이썬은 콤마 작용이 됨.
type(24), type("hello")

(int, str)

## 2. 데이터 타입

In [5]:
#데이터 타입 숫자형 실수형
f1 = 0.5 
f2 = 365.4
print(f1, f2)

f3 = .4 #정수부가 0인 애들은 0을 생략 가능. 가독성이 좋지는 않아 굳이
print(f3)

0.5 365.4
0.4

In [9]:
# 지수표기법 float 타입인 것을 기억하자.
f4 = 3e10 # float 타입
f5 = 3 * 10**10 # 당연히 int 타입. 위랑 같은 값.
f6 = 3e-3 
print(f4)
print(f5)
type(f4), type(f5) # int는 정수타입 float는 실수타입

30000000000.0
30000000000

(float, int)

In [12]:
# 제곱연산자
print(2**5)
# 나누기
print(10/3) # 실수는 저장 방식이 부동소수점이라 계산 결과가 정확히 떨어질 수가 없을 때가 있다. 오차가 있는 것. 태생적으로.
# 몫
print(10//3)
# 나머지
print(10%3)

32
3.3333333333333335
3
1

In [15]:
# num이 5의 배수?
num = 1001
print(num % 5 == 0) # 결과가 0이면 5의 배수. 0이면 ture 출력

False

In [18]:
# 논리형. 변수를 논리형으로 넣을 수 도 있다.
b1 = True
b2 = False
print (b1, b2)

True False

- 글을 쓰고 ctrl + / 을 누르면 주석이 달아짐. 대부분 에디터가 그렇다.

- bool(값) 다른 타입의 값을 논리형을 변환
    - 빈문자열, 0, None => False

In [21]:
print(bool(''), bool('abc'), bool(' '))
print(bool(0), bool(0.0), bool(50), bool(-50))
print(bool(None)) #값이 없다라는 것 자체를 말하고자 할 때

False True True
False False True True
False

- 비교연산자 :변수에 어떤 값이 들어있을 지 모를 때, 값이 같은지 큰지 물어보는

In [25]:
print(age == 10)
print(10 == 10)
print(5 != 10)
print(10 != 10)
print(10 > 5)
print(10 < 5)
print(10 >= 10)

False
True
True
False
False
True
False
True

- 비교연산자 문자열
    - 사전식배열 생각하면 된다. 뒤로 갈 수록 큼.
    - 특수문자 < 숫자 < 영문자 대 < 소 < 한글 // 아스키 코드
    - 앞자리 부터 자리수 맞춰서 비교하는 것. -> 앞이 크면 뒤 비교 안 함. 사전이랑 같다고 생각하면 됨.

In [27]:
# 비교연산자 문자열
print('abc' == 'abd')
print('a' > 'b') # 사전식배열 생각하면 된다. 뒤로 갈 수록 큼.
print(ord('a'), ord('b')) #문자를 숫자로 변경

False
False
97 98

In [28]:
# 특수문자 < 숫자 < 영문자 대 < 소 < 한글 // 아스키 코드 ?
print(ord('#'), ord('0'), ord('A'), ord('a'), ord('가'))

35 48 65 97 44032

In [29]:
print('abcdf' > 'abcef') # 앞자리 부터 자리수 맞춰서 비교하는 것. 앞이 크면 뒤 비교 안 함. 사전이랑 같다고 생각하면 됨.

False

In [ ]:
# 논리연산자 & | not ^
num = 10

- num 이 5~20 사이의 숫자인가?
    - 5 < num < 20 이 표기가 되긴 하는데 안 될 때가 있다. 안 하는 게 좋음.
    - and 연산 사용. result = num > 5 and num < 20

- & 쓸 땐 꼭 ( ) 쳐주기. 아니면 비트 연산으로 인식할 수도 있다.

In [33]:
result = (num > 5) & (num < 20) # & 쓸 땐 꼭 괄호 쳐주기. 아니면 비트 연산으로 인식할 수도 있다.
print(result)

#num 5~20 사이 밖의 숫자인가? 이때는 'or 연산자'
#result = num < 5 or num > 20
result = (num < 5) | (num > 20)

print(not result) # 그렇다면 의미는 5~20 사이의 값인지를 물어보는 것과 동일하다!.
# 연산자를 바꾸거나 not을 쓰거나 뭐 같은 거임.

True
True

In [36]:
True ^ True # 둘이 같냐 XOR 연산자
False ^ True

True

- **조건 연산자!!**
    - '양수' if num >=0 else '음수'

In [40]:
# 조건이 맞으면 양수 조건이 아니다면 음수를 반환.
num = 10
var = '양수' if num >=0 else '음수'
print(var)

양수

- None은 메모리 변수 공간에 비어져 있는 것이 아님. 그저 데이터가 없다는 것을 표시해주는 값. 나중에 할당하기 위해

In [41]:
a = None
print(a)

None

In [42]:
# enter 
print('''안녕
하세요''')

안녕
하세요

- escape 문자

In [18]:
# escape 문자

#back space
print('abc\bd')

#enter
print('abc\nef\nghi')
print('''abc
de
ghi''') 

#tap
print('abc\tdef')

abcd
abc
ef
ghi
abc
de
ghi
abc	def

In [ ]:
# \을 escape문자가 아닌 구분자로 그대로 쓰고 싶을 때는 \\ 두개 쓰면 됨.
print('a\\')
print('\\n')

-  r-string : escape 문자의 \를 무시하고 싶을 땐
    - print(r'\t') : \t가 고대로 출력.

In [52]:
# escape 문자의 \를 무시하고 싶을 땐 : r-string
print('a\n') # \n이 적용되어 enter  적용됨.
print(r'a\n') # ''앞에 r 붙이면 됨. enter 안되고 문자열 그대로 출력.

a\
\n
a

a\n

In [56]:
#문자열에서 '' ""을 그대로 출력하고 싶을 때
print("i'm a boy")

# 만약 문자열에 "" '' 둘다 쓰고 싶다면? 그때는 escape 문자 사용하면 된다.
print('i\'m a boy') # 역슬러쉬 따음표는 진짜 따음표를 표시해줌 기억해두기!!!
print('"i\'m boy"')

i'm a boy
i'm a boy
"i'm boy"

In [55]:
print('dd"acv"dd')

dd"acv"dd

In [60]:
# 문자열 연산자
print('a + b') #합친다.
name = '홍길동'
print("이름:" + name)

age = 20
tall = 178.8
print("나이 : " + str(age) , "키 : " + str(tall) ) # 주의 피연산자 사이 , 필요하다. 까먹지 말기.

a + b
이름:홍길동
나이 : 20 키 : 178.8

In [61]:
print('-'*10)
print('abc'*10)

----------
abcabcabcabcabcabcabcabcabcabc

- 문자열 글자수 세기 len()

In [20]:
print(name, len(name))
print(len('djlfkjslkjfl'))

이순신 3
12

- 문자열 내에 특정 문자열이 있는지 확인
    - x in y
        - y 문자열 안에 x 문자열이 있습니까?
    - x not in y
        - y 문자열 안에 x 문자열이 없습니까?

In [68]:
# 문자열 내에 특정 문자열이 있는지 확인
addr = "서울시 서초구 서초동"
r = "서초구" in addr # addr 문자열 안에 "서초구" 문자열이 있나? 문자열이 같은 지 보는 게 아니라 그냥 포함이 되어 있느지 보는 것
r1 = "부산시" not in addr #앞 문자열에 뒤 문자열에 없니?
print(r, r1)

True True

In [69]:
# 이렇게 해도 출력이 되는데 근데 여러 개 하면 마지막 값만 출력 된다.
# 되도 꼭 print 해주기
1 + 1 
2 + 4
3 + 2

2

5

In [72]:
# 이렇게 print할 때와 달리 ''가 붙어서 출력이 된다.
"a"

'a'

In [73]:
print("a")

a

- , 구분자 : print 출력하려는 값들이 여러 개일 경우 주의.
    - sep('') : |로 구분하고 싶다면?
        - print("a", 20, "30", 3.333, sep = '|')
        - 출력 : a|20|30|3.333

In [75]:
# 출력하려는 값들이 여러개일 경우 , 를 구분자로 해서 나열
print("a", 20, "30", 3.333)
# |로 구분하고 싶다면? sep('')
print("a", 20, "30", 3.333, sep = '|')

a 20 30 3.333
a|20|30|3.333

In [ ]:
# print() 출력할 값 뒤에 엔터를 기본적으로 붙인뒤 출력한다. 그래서 다음 출력은 다음줄에 나온다.
print('abc')
print('def')

- print 출력 시 출력과 출력 사이 enter 대신 다른 구분자를 출력하는 방법
    - print('abc', end='')

      print('def')
    - abc-def

In [77]:
# end는 출력할 값 뒤에 붙일 값을 변경한다. enter 되지 않고 - 가 붙어서
# print 따로 입력하고 싶은데 출력이 옆에 붙어서 나왔으면 좋겠을 때
print('abc', end='-')
print('def')
print('abc', end='')
print('def')

abc
def
abc-def
abcdef

In [78]:
# 인덱싱
s= "안녕하세요. 반갑습니다."
print(s) # 전체를 출력.

안녕하세요. 반갑습니다.

In [84]:
# 양수 인덱스 앞에서 0부터 시작
print("세 번째 글자. 2번 index 글자 :",s[2]) # 세번째 글자가 무엇인지

#음수 인덱스 뒤에서 -1부터 시작
print("뒤에서 2번째 글자 :", s[-2], s[11]) # 뒤쪽이라 새기 힘들 땐 뒤에서 -1부터 시작.

세 번째 글자. 2번 index 글자 : 하
뒤에서 2번째 글자 : 다 다

- 문자열의 특정 문자를 변경할 수 없다. error 발생 문자열의 일부의 값을 바꾸는 게 안된다는 의미.
- s = 'hello' 전부를 바꾸는 것은 인덱스 안 문자를 바꾸는 의미가 아니라 기존 값을 버리고 다른 값을 대입하는 의미. 변수가 가진 값 자체를 바꾼 것.
- s[3] = '가'

In [91]:
# 문자열 슬라이싱
s= "abcdefghijklmn"

print(len(s)) # 14글자 - index : 0~13
print(s[2:10:2]) #범위 : 2 ~ 9 (10-1) 간격 : 2 -> 2,4,6,8 

print(s[2:10]) # 간격 생략 - 기본값 : 1 //생략 할 때는 :도 생략할 수 있음 

s[:10] # 시작 생략 - 기본값 : 0 -> 0~9
s[10:] #종료 생략 시 마지막 index까지 조회 10~13
print(s[::3]) #전체에서 3칸씩

s[5:1] # 시작 5 ~ 종료 2 이때 간격을 안 적으면 안됨. 생략하면 기본값이 1이다. 
# 구간은 5~2 인데 간격은 1. 5에서 간격 1은 6인데 없다. 값이 안 나옴.
s[5:1:-1] # 시작 5 ~ 종료 2 -> 5,4,3,2

s[::-1] #전체 구간에서 -1씩 reverse

s[-2:3:-1] #-2에서 4까지 구간에서 증감치는 -1로 한 칸씩 거꾸로 간다.

14
cegi
cdefghij
adgjm

'mlkjihgfe'

### - **formatting!!**
- 넣어줄 레이아웃을 일단 비운 상태로 만들어줌.
    - info_layout = "이름: {}\n나이: {}\n주소:{}"
    - info1 = info_layout.format(name1,age1, addr1)
    - print(info1)
- 바로 써줄 수 도 있음.
    - print("이름: {}\n나이: {}\n주소: {}".format(name1, age2, addr3))

In [116]:
# formatting 문자열
name1, age1, addr1 = '홍길동', 10, '서울'
name2, age2, addr2 = '이순신', 20, '인천'
name3, age3, addr3 = '강감찬', 30, '부산'
# 이렇게 끊어서 써주는 것 아주 귀찮.
info1 = "이름:" + name1 +"\n나이:" + str(age1) + "세\n주소:" + addr1
info2 = "이름:" + name2 + "\n나이:" + str(age2) +"세\n주소:" + addr2
#print(info1)
#print(info2)

#{} : 나중에 값이 들어갈 자리
info_layout = "이름: {}\n나이: {}\n주소:{}"
#name1->첫번째{}, age1->두번째{}, addr-> 세번째{}에 넣어서 문자열 string을 완성
print(info_layout)
info1 = info_layout.format(name1,age1, addr1)
print(info1)

print(info_layout.format(name2, age2, addr2))
print(info_layout.format(name3, age3, addr3))

이름: {}
나이: {}
주소:{}
이름: 홍길동
나이: 10
주소:서울
이름: 이순신
나이: 20
주소:인천
이름: 강감찬
나이: 30
주소:부산

In [104]:
# 하나이여도 이렇게 써주는 게 편함. 
# format 쓸 때 정수가 들어간 변수를 바로 넣어도 str 변환 할 필요 없다. 
# format에 넣으면 문자열로 인식.

# {} 이랑 format() 갯수가 안 맞으면 오류
print("이름: {}\n나이: {}\n주소: {}".format(name1, age2, addr3))

이름: 홍길동
나이: 20
주소: 부산

- 출력칸 더블클릭하면 숨겨짐. 출력이 길 경우에는 클릭 한 번 하면 반만 접힌다.

In [114]:
# 내가 한 번 해보기
a1, b1, c1 = "니트", "치마", 25
a2, b2, c2 = "반팔", "바지", 27
cloth_layout= "상의:{} 하의:{} 치수:{}"

one_info = cloth_layout.format(a1,b1,c1)
two_info = cloth_layout.format(a2,b2,c2)

print(one_info)
print(two_info)

# 바로 써도 무방. 아님 위처럼 레이아웃 자체도 변수 선언 안 하고 바로 넣어도 무방.
print(cloth_layout.format(a1, b1, c1))
print("상의:{} 하의:{} 치수:{}".format(a1, b1, c1))

상의:니트 하의:치마 치수:25
상의:반팔 하의:바지 치수:27
상의:니트 하의:치마 치수:25
상의:니트 하의:치마 치수:25

In [123]:
# [0] : 첫번째 값을 넣어라.
# 동일한 값을 여러군데에서 사용할 경우.
# 아래 처럼 {} 안에 순번을 의미하는 정수를 입력하면 갯수 안 맞춰도 됨.
print("이름: {0}\n나이: {2}\n주소: {1} \n이름: {0}".format(name1, addr1, age1))

이름: 홍길동
나이: 10
주소: 서울
이름: 홍길동

In [122]:
#{name}: 괄호의 이름지정. 값 전달 시 괄호 이름 = 값
print("이름: {name}\n나이: {age}\n주소: {addr}\n이름: {name}".format(name=name1, age=age1, addr=addr1))

이름: 홍길동
나이: 10
주소: 서울
이름: 홍길동

- 형식문자를 이용한 문자열 formatting
    - %s : string, %d : int, %f : float

In [129]:
# 실수형은 최소 6자리로 맞춘다. 6자리보다 넘으면 더 써지는데 그 보다 작으면 6자리까지 0찍힘.
name, age, weight = "홍길동", 23, 72.7
info = "이름:%s, 나이:%d, 몸무게:%f" %(name, age, weight)

# %.2f : 소수점 두자리까지 쓰라는 뜻.
info1 = "이름:%s, 나이:%d, 몸무게:%.2f" %(name, age, weight)
print(info)
print(info1)

이름:홍길동, 나이:23, 몸무게:72.700000
이름:홍길동, 나이:23, 몸무게:72.70

- f-string 파이썬 3.6에서 추가된 형식. 
    - 재사용 계속 불러올 필요 없이 한 번만 그저 출력을 한다면? 
    - 재사용 할 때는 format이 편할 수도. 그게 아니면 레이아웃 만들며 바로 적용하자.

In [131]:
name, age, weight = "홍길동", 23, 72.7
print(f"이름: {name}, 나이: {age}, 몸무게: {weight}")

이름: 홍길동, 나이: 23, 몸무게: 72.7

- {변수명 : 정렬 정밀도 타입}

In [138]:
# 정렬

# >5 오른쪽 정렬인데 5칸을 생각하고 오른쪽부터 정렬해서 홍길동 그니깐 앞에 두칸 띄우짐.
print(f"이름: {name:>5}, 나이: {age}, 몸무게: {weight}")

# 만약 글자수 이하 값을 지정했다. 그냥 출력 하는 것. 최소 자리수를 의미하는 것. 글자를 자르는 게 아님.
print(f"이름: {name:<2}")
print(f"이름: {name:>6}") 
# 사실 뭐 좌측할 때는 필요없는데 우측정렬 필요할 때 주로 쓰임.

이름:   홍길동, 나이: 23, 몸무게: 72.7
이름: 홍길동
이름:    홍길동

In [142]:
# 정밀도 : 실수형에서 주로 .2f

# .2f 실수형 들어 올 것인데 소수점 두자리까지 반올림.
weight = 81.4497
print(f"이름: {name:>5}, 나이: {age}, 몸무게: {weight:.2f}")

이름:   홍길동, 나이: 23, 몸무게: 81.45

In [26]:
# 타입 : f-실수, d-정수, s-문자열

# 들어오는 변수와 타입이 당연히 같아야 한다.
print(f"이름:{name:d}") 

# 이렇게 쓰면 오류. d 라는 것은 정수 변수가 들어온다는 것. 근데 지금 문자열 변수가 들어가 있다.

ValueError: Unknown format code 'd' for object of type 'str'

### 문자열 관련 함수/ 메소드

In [147]:
#  s.split()

# 문자열을 쪼개고 싶다. 토큰화하고 싶다. s.split // 쪼갠 단위를 토큰이라고 한다.
# 그럼 list 된다.!

s = "사과|귤|배|수박|복숭아"
print(s.split('|')) #list

['사과', '귤', '배', '수박', '복숭아']

In [150]:
# s.strip()

# 공백 없애는 함수
# 중간 공백을 없애는 함수는 없다. 로직으로 할 순 있지만

s2 = "      ab c       "
s2.lstrip() #왼쪽 공백을 없애는 것.
s2.rstrip() #오른쪽 공백 없애는 것.
s2.strip() #공백 없애기.

'ab c'

In [151]:
# s.replace()

s3 = "abcabcabc"
s3.replace('ab', '가') #ab 를 가 로 변경. 글자수 상관없이 그냥 대체 하는 것.

'가c가c가c'

In [152]:
# s.count()

# 문자열 안에 특정 문자 or 문자열이 몇 개 인지?
len(s3) #s3의 전체 글자수 세는 함수.
 
s3.count('a')
s3.count('ab')

3

In [153]:
# s.index()

# 특정 문자열이 몇 번째에 있는지 알고 싶을 때
# 없는 것을 찾으면 error

s3[1]
s3.index('a') #'a' 의 index. 앞에서 처음 나온 index를 반환
s3.index('ab')

0

In [155]:
# s.find()

# 특정 문자열이 몇 번째에 있는지 알고 싶을 때
# 없는 문자열을 찾을 경우 -1을 반환

s3.find('a')
s3.find('bc')

#s3.index('가') # 없는 것을 찾으면 error
s3.find('가') # 없는 문자열을 찾을 경우 -1을 반환

# 이렇게 쓰일 수 있음. 이 뜻은 이 문자열에 "가"가 없다는 것을 bool로 반환받음.
print( s3.find('가')== -1  )

True

In [156]:
# s.upper() 대문자로
# s.lower() 소문자로
 
s4 = "ADldf"
s4.upper()
s4.lower()

'adldf'

In [158]:
# s.startswith()
# 첫글자부터 이렇게 시작하냐를 bool로 
addr ="서울시 서대문구"
addr.startswith("서울")
addr.startswith("광주")

#s.endswith()
# 파일 확장자명 찾고 싶을 때 쓰일 수 있다.
url = "www.naver.com"
url.endswith(".com")
url.endswith(".net")

# 중간에 있는 문자가 있는 알고 싶을 때 in, not in

False

- input() : 입력함수. 사용자로부터 값을 입력받을 때. str 값으로 반환

In [163]:
# 타입변환
# input() : 사용자로부터 값을 입력받을 때 사용. 입력받은 값을 str으로 반환
# 숫자를 입력해도 str으로 반환한다. 주피터 노트북에서는
num1 = input()
print(num1)

245
245

- [*]은 아직 해당 셀이 실행 중이라는 것이다. 이 상태에서 아래 셀 실행 시키면 출력 안됨.
- 아래 실행 시킬 셀도 [*]라고 뜸. 이것은 대기 중인 셀이리는 뜻이다.
- 위 셀이 끝나야 아래 셀이 실행되는 것. 안 끝나면 아래 셀은 대기.

### - 데이터 타입 변환

In [168]:
num1 = input("정수1:")  # 괄호 안에 문자열 써주면 출력. 라벨처럼 사용.
print(num1) # 출력은 입력한 값만 출력.

num2 = input("정수2:")
print(num2)

print(num1 + num2) # 문자열이기에 245245 이런 식으로 문자열이 붙어서 나옴.

print(int(num1) + int(num2))
print(float(num1) + float(num2))

정수1:70
70
정수2:70
70
7070
140
140.0

In [170]:
# float(), int()는 변환가능한 형태의 문자열만 변환. 숫자 형태여야 숫자 데이터로 바꿀 수 있는 것.
s = input()
int(s) #abc를 입력받았는데 정수로 변환시킬 수가 있나? 당연히 없다.

3

3

In [172]:
int(True) #True : 1
int(False) #False : 0

0

In [173]:
# input()함수를 쓸 때 애초에 정수 선언할 순 없다. 무조건 string 
# 만약 정수로 받고 싶다면 아래와 같이 한줄로 쓸 순 있다.
a = int(input())

4