제목 만들 때 코드 명령모드에서 1 누르면 제목 생김 1,2,3,4, ... 점점 소제목

# 1. 리스트
- 순서가 있는 자료구조
    - 원소들을 index로 관리한다.
- 생성
    - l=[값, 값, 값,]

In [23]:
l1=[1,2,10,40]
l2=[10.5,'abc',True, None, 30]

In [7]:
#  조회 : indexing slicing

# indexing
print(l1[0], l1[3])
print(l2[0], l2[3])

1 40
10 True

In [8]:
# 없는 index 조회 -> indexerror 에러 발생
l1[10]

IndexError: list index out of range

In [9]:
# index 내의 원소 개수 조회
print("l1 원소 개수 :", len(l1))
print("l2 원소 개수 :", len(l2))

l1 원소 개수 : 4
ㅣ2 원소 개수 : 6

In [15]:
# slicing 마지막 인데스 빠지는 것 실수하지 않기
print(l2[2:5])
print(l2[:3])
print(l2[3:])
print(l2[::2])

[True, None, 30]
[10.5, 'abc', True]
[None, 30]
[10.5, True, 30]

In [24]:
# 리스트는 원소를 변경할 수 있다. 변경 -> 대입연산
print(l2)
l2[0] = 100
print(l2)
l2[4] = '가나다'
print(l2)

[10.5, 'abc', True, None, 30]
[100, 'abc', True, None, 30]
[100, 'abc', True, None, '가나다']

In [31]:
# slicing을 이용하면 지정한 범위의 원소들을 한번에 바꿀 수 있다.

l2[:3] = [1,2,3,4,5] # 0 ~ 2 index의 값들을 1,2,3,4,5 

l2

[1, 2, 3, 4, 5, 5, 4, 5, None, '가나다']

In [33]:
# 만약 중간에 삭제하고 싶다면?
# 특정 범위의 원소들을 삭제
l2[2:5] = [] 
l2

[1, 2, None, '가나다']

In [34]:
# 하나의 원소만 삭제 : del 명령어 사용
del l2[0]
l2

[2, None, '가나다']

**리스트를 포함한 자료구조도 값이다.**
- 리스트(자료구조)에 다른 자료구조들을 원소로 추가할 수 있다.

In [40]:
# l3[0] = [1,2] 반환
l3 =[[1,2], [3,4],[5,6]] # 내부적으로 참조관계
print(l3[0])
print(l3[0][1])

l3[2][0] = 4
print(l3[2][0])

[1, 2]
2
4

In [43]:
# 괄호 복잡할 때 엔터
l4 =[
    [
        [1,2], [3,4], [4,6]
    ],
    [
        [10,20], [30,40], [50,60]
    ]
]

print(l4[0][1][1])
print(l4[1][2][1])

4
60

### 리스트 연산자
1. 리스트 + 리스트 : 두 리스트를 합친 새로운 리스트 반환
2. 리스트 * 정수 : 리스트를 정수만큼 반복해서 합친 새로운 리스트를 반환
3. 값 in 리스트, 값 not in 리스트 : 리스트 안에 값이 있는지(in), 없는지(not in) bool 값으로 반환

In [44]:
#1
l1 = [1,2,3]
l2 = [10,20,30]
l3 = l1 + l2
print(l3)

[1, 2, 3, 10, 20, 30]

In [45]:
#2
l4 = l1*3
print(l4)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [48]:
#3
print(10 in l1)
10 not in l1

False

True

### 리스트 대입
여러개의 변수에 리스트의 값들을 한번에 대입

In [51]:
# 리스트 대입
# 변수와 리스트 원소의 개수가 같아야 한다.
a, b, c = [1,2,3] #변수에 정수값 대입.
print(a)
print(a+b+c)

# 튜플 대입 변수에 선언하면서 대입할 때는 굳이 대괄호 치기 귀찮으니깐 이 방법으로
# 함수 때 리스트 대입을 써야 한다.
# 딕셔너리 set 대입은 없다.

d, e, f = 4,5,6
print(d)

1
6
4

### list 주요 함수

In [52]:
print("원소개수:", len(l1))

원소개수: 3

In [53]:
# 마지막 인덱스에 원하는 원소 추가.
l1.append(10) #list.append(추가할 값)
l1

[1, 2, 3, 10]

In [54]:

# extend는 리스트 자체에 더하는 것
#l1 리스트에 추가. l1 리스트는 바뀜.

# + 는 더한 것에 대한 새로운 리스트가 반환되는 것이기에 이 더한 것을 변수에 다시 넣어줘야 함. 대입.
# l1과 []을 합친 새로운 리스트가 반환(l1은 안 바뀐다.)

l1.extend([3,4,5])
l1

[1, 2, 3, 10, 3, 4, 5]

In [58]:
# 정렬
# 원본 리스트를 변경하지 않고 정렬한 새로운 리스트를 반환
# 원본은 그대로이다. l1 출력하면 기존대로
# 정렬한 것을 쓰고 싶다면 새로운 변수에 대입.

sorted(l1) # 오름차순
sorted(l1, reverse=True) # 내림차순
x = sorted(l1)
print(l1)
print(x)

[1, 2, 3, 10, 3, 4, 5]
[1, 2, 3, 3, 4, 5, 10]

In [61]:
# 정렬 - 리스트.sort() : 원본 리스트 자체를 정렬한다. 원본이 바뀜.
l1.sort() #오름차순
l1
l1.sort(reverse=True) #내림차순
l1

[10, 5, 4, 3, 3, 2, 1]

In [63]:
l1.insert(3, '가나다') # index 3에 '가나다'를 삽입. 기존 원소 뒤로 밀림.
l1

[10, 5, 4, '가나다', '가나다', 3, 3, 2, 1]

In [64]:
# index로 원소 삭제 : del
del l1[0]
l1

[5, 4, '가나다', '가나다', 3, 3, 2, 1]

In [67]:
# 값으로 삭제 : remove
l1.remove('가나다')
l1

ValueError: list.remove(x): x not in list

In [69]:
l4 = [1.2,10, 2, 10, 10]
l4.remove(10) # 값이 여러개 일 경우 첫번째 값만 삭제
l4

[1.2, 2, 10, 10]

In [71]:
l1.count(1) # 값 10이 몇 개인지

1

In [72]:
l1.clear() # 모든 원소 다 삭제
l1

[]

# 2. 튜플(Tuple)
- 리스트 처럼 순서가 있는 자료구조
    - index (양수, 음수)로 원소를 관리
    - 원소를 변경할 수 없다. (추가, 삭제, 변경이 안된다.)
- 생성

In [75]:
t1 = (1, 2, 3, 4, 5) # 소괄호를 묶는다.
t2 = 10, 20, 30, 40, 50 # 소괄호 생략 가능.
t1
t2

(10, 20, 30, 40, 50)

In [77]:
t3 = 10, '가', True # 서로 다른 타입의 값 넣을 수 있다.
t3

(10, '가', True)

In [79]:
t4 = (100) # t4 = 100 그냥 대입. int. 튜플 아님.
t4, type(t4), type(t3)
# 변수 , 써서 한 줄로 썼음. 이때 출력 메시지 지금 괄호로 출력됨. 이것도 튜플임.

(100, int, tuple)

In [81]:
t5 = (100,) # 원소가 하나일 경우 뒤에 , 를 붙인다.
t6 = 100,
print(t5, t6)
print(type(t5), type(t6))

(100,) (100,)
<class 'tuple'> <class 'tuple'>

### 튜플대입

In [83]:
name, age, address = ('홍길동', 30, '서울') # 튜플 대입
name, age, address = ['홍길동', 30, '서울'] # 리스트 대입
print(name, age, address)

홍길동 30 서울

In [85]:
name, age, address = '이순신', 32, '부산' # 튜플 대입
print(name, age, address)

이순신 32 부산

### indexing & slicing
- 조회만 가능하고 원소를 변경할 수 없다.

In [87]:
t7 = 100, 4, 8, 20, 20, 1, 8
t7[0], t7[3], t7[6]

(100, 20, 8)

In [88]:
# 인덱스 원소 변경 안됨.
t7[0] = 40

TypeError: 'tuple' object does not support item assignment

In [89]:
# 슬라이싱 조회는 됨.
t7[::2]

(100, 8, 20, 8)

In [90]:
t7[::-1] # 뒤에서 부터

(8, 1, 20, 20, 8, 4, 100)

In [91]:
 t7[-3] # 음수 인덱스 조회

20

### 연산자

In [102]:
10 in t7
8 in t7

10 not in t7
8 not in t7

False

In [97]:
t1+ t2
t1 * 2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [101]:
# sorted는 무조건 리스트로 반환하기에 튜플을 정렬하여 리스트로 반환함.
# t7는 원본 데이터 그대로.
x = sorted(t7)
print(t7)
print(x)

(100, 4, 8, 20, 20, 1, 8)
[1, 4, 8, 8, 20, 20, 100]

# 3. dictionary, 사전
- 데이터를 key:value 쌍(pair)로 모아서 관리하는 자료구조

In [142]:
# 생성
# list는 순서가 중요하다. 인덱스로 조회하기에 이름 나이 주소 순서가 중요하다. 값을 조회할 때
# 딕셔너리는 어차피 name 키 값으로 조회하기에 넣는 순서가 상관없다.
# 변수마다 이름 나이 주소 나 이름 주소 나이 이렇게 순서를 다르게 넣어도 상관없는 것.

person1 = {"name":"홍길동", "age":20, "address":"서울"}
person2 = {"age": 30, "name":"이순신", "address":"부산"}
print(person1['name'], person2['name']) # 값을 반환

#get이든 []이든 pop이든 모두 특정 key를 통해 값을 반환.

#슬라이싱은 없다. 순서가 없기에.

홍길동 이순신

In [143]:
# 값 변경. 있는 key에 값을 대입하면 변경이 된다.

person1['name'] = '박철웅'
person1

{'name': '박철웅', 'age': 20, 'address': '서울'}

In [144]:
# 값 추가. 없는 key에 값을 대입하면 추가가 된다.
person1['tel'] = '010-111-1111'
person1

{'name': '박철웅', 'age': 20, 'address': '서울', 'tel': '010-111-1111'}

In [145]:
# 없는 key로 조회하면 keyError
person1["email"]

KeyError: 'email'

In [149]:
# dictionary.get("key") : 조회. 위 그냥 []로 조회하는 것과 동일한데,
# get함수로 조회할 때 없는 key 값을 조회하면 None.

# 이때 None 대신 반환할 기본값을 설정할 수도 있다.
# 없을 때 반환할 값을 설정 가능한 것.

print(person2.get("name"))
v=person2.get('email')
v=person2.get('email', "없음")
print(v)

이순신
없음

In [147]:
# in 연산자는 value를 찾는 것이 아니라 key!!를 찾는 것
print('name' in person1)
print('박철웅' in person1)

True
False

In [148]:
# pip dictionary의 아이템 즉 쌍을 삭제하면서! 반환한다.
a = person1.pop('name')
print(a)
print(person1)

박철웅
{'age': 20, 'address': '서울', 'tel': '010-111-1111'}

In [140]:
# 특정 item (key-값) 삭제
del person1['age']
person1

{'address': '서울', 'tel': '010-111-1111'}

In [121]:
# key와 values를 듀플로 묶어 리턴. 이는 리스트로 전체 묶여있다.
person1.items()

dict_items([('address', '서울'), ('tel', '010-111-1111')])

In [124]:
# key값만 모아서 리턴. values값만 모아서 리턴.
person1.keys()
person1.values()

dict_values(['서울', '010-111-1111'])

# 4. Set(집합)
- 중복을 허용하지 않는 자료구조

In [154]:
s1 = {1,1,1,2,2,2,3,3,3,"a","a","a",True,True,True,False,False}
print(s1) # 중복된 값 하나도 안 들어감.

#True가 안 들어감. False 들어감.
# 이유는 1이 들어가서.

# set에서 True,1 -> True를 1로 취급 
# False, 0 -> False를 0로 취급
# booㅣ값과 0과 1 같이 있으면 0과 1로 취급하는 것.

# 출력하면 순서가 달라짐. 순서가 없기에.
s2 = {2,2,2,3,3,3,"a","a","a",True,True,True,False,False}
print(s2)

s3 = {0,0,0,2,2,2,3,3,3,"a","a","a",True,True,True,False,False}
print(s3)

{False, 1, 2, 3, 'a'}
{False, True, 2, 3, 'a'}
{0, True, 2, 3, 'a'}

In [155]:
# set은 가지고 있는 원소 하나를 조회하는 것은 안된다. => 반복문을 이용해야 함.
s1[0]

TypeError: 'set' object is not subscriptable

### 연산자

In [157]:
1 in s1
100 in s1

False

In [159]:
1 not in s1
100 not in s1

True

In [161]:
# 합집합
s1 = {1,2,3}
s2 = {3,4,5}

# 합집합 중복허용되지 않으니 당연히 3 하나만 출력
# 변경이 아니라 새로운 set을 반환하는 것 . s1 s2 그대로

s3 = s1|s2
s4 = s1.union(s2)
print(s3)
print(s4)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [163]:
# 교집합
s5 = s1 & s2
s6 = s1.intersection(s2)
print(s5, s6)

{3} {3}

In [165]:
# 차집합
s7 = s1 - s2
s8 = s1.difference(s2)
print(s7)
print(s8)

{1, 2}
{1, 2}

###  메소드

In [167]:
# 추가
s3.add(10)
print(s3)
s3.add(10) # 있는 값을 .add 하면 중복이니 추가가 안됨.
print(s3)

{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 10}

In [169]:
# 리스트, 튜플로 묶어서 넣을 수 있는데
# 역시 중복되는 것은 추가가 안 된다.

s3.update([1,2,3,100,200,300])
s3

{1, 2, 3, 4, 5, 10, 100, 200, 300}

In [170]:
v = s3.pop()
print(v)
s3

1

{2, 3, 4, 5, 10, 100, 200, 300}

In [171]:
s3.remove(5) #s3의 원소 중 5를 삭제
s3

{2, 3, 4, 10, 100, 200, 300}

In [172]:
s3.remove('가') #없는 값 삭제 시 keyError 발생.

KeyError: '가'

In [179]:
# 빈 리스트. 나중에 추가할 목적으로 만들다.
var1 = [] 
var1
var1.append(10)
var1

var2=() # 튜플은 굳이

var3 ={} # 빈 dic인가 빈 set인가? -> 빈 dic 이다.
print(type(var3))

var3["a"]=4
print(var3)

<class 'dict'>
{'a': 4}

# 5.  자료구조 변환 함수
- list(자료구조) : 자료구조를 list로 변환
- tuple(자료구조) : 자료구조를 Turple로 변환
- set(자료구조) : 자료구조를 set으로 변환.
- dict 로 변환하는 함수는 없다.
- 변경할 대상 자료구조가 dictionary 일 경우에는 **key**값들만 모아서 반환

In [182]:
#  t는 원본은 그대로 새로운 list 가 만들어지는 것.
t = 1,2,10,5,10,2
l = list(t)
l, type(l)

([1, 2, 10, 5, 10, 2], list)

In [183]:
# set이니 중복 빼고 순서 바껴서 정렬된 상태로.
# set은 보통 중복된 값을 빼고 모으고 변환하고 싶을 때 쓴다.
s =set(t)
s, type(s)

({1, 2, 5, 10}, set)

In [185]:
# list -> tuple
t1 = tuple([1,3,10,5])
t1

(1, 3, 10, 5)

In [188]:
# dict -> set // key값만 바뀌어 반환한다.
# 어차피 key만 반환이니 뭐 dict 값이 같아도 아무 상관없쥐.
d = {'a':10, 'b':20, 'c':40, 'd':40}
set(d) #dict -> set

{'a', 'b', 'c', 'd'}

In [187]:
# dict -> tuple // key값만 바뀌어 반환한다.
tuple(d)

('a', 'b', 'c')

In [189]:
# dict(key=value,key=value) dictionary를 쉽게 만들도록 도와주는 함수
# dict() 이것은 변환하는 함수가 아님. 착각 ㄴㄴ.
# 그냥 변수를 편하게 넣을 수 있게 하는 함수이다. 위에 배운대로 해도 됨.

d1 = dict(name='홍길동', age=20, address='부산')
d1

{'name': '홍길동', 'age': 20, 'address': '부산'}

- edit - merge cell 위 또는 아래 셀 합치는 것

In [231]:
# 문제 1~7 

jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85] 

# 위는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다. (문제 1 ~ 7)
#(1)  7번의 점수를 출력하세요 
print("7번의 점수 :",jumsu[6])

7번의 점수 : 80

In [232]:
#(2)  1번부터 5번까지의 점수를 출력하세요.
print("1번~5번 점수 :", jumsu[0:5])

1번~5번 점수 : [100, 90, 100, 80, 70]

In [233]:
#(3)  4, 5, 6, 7번의 점수를 출력하세요.
print("4~7번의 점수 :", jumsu[3:7])

4~7번의 점수 : [80, 70, 100, 80]

In [234]:
#(4) 짝수번째 점수를 출력하세요.
print("짝수번째 점수 :", jumsu[1::2])

짝수번째 점수 : [90, 80, 100, 90, 85]

In [235]:
#(5) 홀수번째 점수를 출력하세요.
print("홀수번째 점수 :", jumsu[::2])

홀수번째 점수 : [100, 100, 70, 80, 95]

In [259]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu[8]=20
print("바뀐 점수 :",jumsu)

바뀐 점수 : [100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [262]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.

#jumsu[8]=95

x = set(jumsu) #이렇게 하면 인덱스 할 수 없음.
unique_jumsu = list(x) #그래서 이걸 다시 list로 만듦.
print("중복 점수 제외 :",x)
print("중복 점수 제외 :",unique_jumsu)
print("최고점:",unique_jumsu[0])

중복 점수 제외 : {100, 70, 80, 20, 85, 90}
중복 점수 제외 : [100, 70, 80, 20, 85, 90]
최고점: 100

In [267]:
# 문제 8 ~ 9
fruits = ["복숭아", "수박", "딸기"]

#(8) fruits 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.
#fruits.append(["사과","귤"]) # 이러면 중첩 리스트가 된다.
fruits.extend(["사과","귤"])
print(fruits)

# 주의 fruits가 바뀌는 것이 아니기에 다시 fruits에 넣어준다.
fruits += ["사과","귤"]
print(fruits)

['복숭아', '수박', '딸기', '사과', '귤']
['복숭아', '수박', '딸기', '사과', '귤', '사과', '귤']

In [268]:
#(9) fruits 리스트에서 "복숭아"를 제거하세요.
fruits.remove('복숭아') #값으로 지우는 것. 특정 값을 지우고 싶다.

del fruits[0] # 인덱스로 지우는 것. 몇 번 인덱스를 지우고 싶다.

print(fruits)

['딸기', '사과', '귤', '사과', '귤']

In [1]:
# 문제 10 ~ 15
#(10)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성. 
# 취미는 2개 이상의 값을 넣는다..
info ={'name':"김철수",
       'age':25,
       'email':'cso6005@naver.com',
       "hobby":["여행","영화보기"],
       "결혼유무":"무"}
print(info)

# key 넣을 때 "" 안쓰고 그냥. 주의.
info2 = dict(name="김철수",
       age=25,
       email='cso6005@naver.com',
       hobby=["여행","영화보기"],
       결혼유무="무")
print(info2)

{'name': '김철수', 'age': 25, 'email': 'cso6005@naver.com', 'hobby': ['여행', '영화보기'], '결혼유무': '무'}
{'name': '김철수', 'age': 25, 'email': 'cso6005@naver.com', 'hobby': ['여행', '영화보기'], '결혼유무': '무'}

In [2]:
#(11) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
print("이름 :",info['name'], "\nemail :", info['email'])

이름 : 김철수
email : cso6005@naver.com

In [3]:
#(12) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
y = info['hobby']
print("두번째 취미 :",y[1])

# 취미 넣어줄 때 list로 넣어준 것. 즉 중첩리스트로 조회 가능.

print("두번째 취미 :",info['hobby'][1])

두번째 취미 : 영화보기
두번째 취미 : 영화보기

In [4]:
#(13) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.

info["weight"]= 20
info["key"] = 170
print(info)

{'name': '김철수', 'age': 25, 'email': 'cso6005@naver.com', 'hobby': ['여행', '영화보기'], '결혼유무': '무', 'weight': 20, 'key': 170}

In [5]:
#(14) 위 딕셔너리에서 나이를 제거하세요.

del info["age"]
print(info)

{'name': '김철수', 'email': 'cso6005@naver.com', 'hobby': ['여행', '영화보기'], '결혼유무': '무', 'weight': 20, 'key': 170}

In [6]:
#(15) 위 딕셔너리에서 email 주소를 다른 값으로 변경하세요.

info['email']= "abc1235@nate.com"
print("바뀐 email :", info['email'])

바뀐 email : abc1235@nate.com