In [48]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점

# 범위 안에 안 든 점수가 들어올 수 도 있다. else보다 elif 해주자.

score = int(input())
if score >= 91 and score <=100:
    print("A학점")
elif score >= 81 and score <=90:
    print("B학점")
elif score >= 71 and score <=80:
    print("C학점")
elif score >= 61 and score <=70:
    print("D학점")
elif score <= 60:
    print("F학점")
    
else:
    print(f"{score}는 잘못된 점수입니다.")

2324
2324는 잘못된 점수입니다.

In [3]:
#(2) 사용자로 부터 ID를 입력 받은 뒤 입력받은 ID가 5글자 이상이면 "사용할 수 있습니다."를 5글자 미만이면 "사용할 수 없는 ID입니다."를 출력하세요.

id = input()

if len(id) >= 5:
    print("사용할 수 있습니다.")
else:
    print("사용할 수 없습니다.")

남러ㅣㅏㄴ어리ㅏㅓㅇ나ㅣㅁ러
사용할 수 있습니다.

In [50]:
#(3) 사용자로부터 우리나라 도시명을 입력 받은 뒤 입력받은 도시명이 서울이면 "특별시"를 인천,부산,광주,대구,대전,울산 이면 "광역시"를 나머지는 "특별시나 광역시가 아닙니다."를 출력하세요.

city = input("도시명:")
label = None

if city == "서울":
    label = "특별시"
    
# elif city == "인천" or city == "광주" or city == "부산" ...

elif city in ["인천", "부산", "대구", "대전", "울산"]:
    label = "광역시"

else:
    label = "일반도시"
    #print("특별시나 광역시가 아닙니다.")

print(f"{city}는 {label}입니다.")

도시명:부산
부산는 광역시입니다.

In [59]:
#(4) 아래 리스트의 평균을 구하시오. 
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
sums = 0

for i in jumsu:
    sums += i
    
average = sums/len(jumsu)
print(average)

89.0

In [60]:
# s= sum(iterable)  interable의 원소들의 합게를 반환
# 평균 구해주는 것은 없다.

s = sum(jumsu)
m=s/len(jumsu)
print(s,m)

890 89.0

In [61]:
#(5) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. 
# (ex: 0-pass, 1-pass, 2-fail)

for idx,i in enumerate(jumsu):
    if  average <= i:
        print(idx,"-pass")
    else:
        print(idx,"-fail")

0 -pass
1 -pass
2 -pass
3 -fail
4 -fail
5 -pass
6 -fail
7 -pass
8 -pass
9 -fail

In [62]:
#(6) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]

max1 = 0
for i in jumsu :
    if i > max1:
        max1 = i
print("최댓값:",max1)

최댓값: 95

In [63]:
#iterable의 최댓값과 최솟값을 반환하는 함수.
max(jumsu), min(jumsu)

(95, 55)

In [67]:
#(8) 다음 리스트 중에서 "쥐"와 "토끼" 제외한 나머지를 출력하세요.
str_list = ["쥐", "소", "호랑이", "토끼", "용", "뱀"]
for x in str_list:
    if x not in ["쥐", "토끼"]:
        print(x)

소
호랑이
용
뱀

In [68]:
for x in str_list:
    if x in ["쥐", "토끼"]:
        continue
    print(x)

소
호랑이
용
뱀

In [65]:
# 강사님이 내주신 것은 리스트 자체를 바꾸는 것이 아니라 해당 값 제외 출력만을 하라는 것.

for x in str_list:
    if x not in ["쥐", "토끼"]:
        str_list.remove(x)        

print(str_list)

['쥐', '호랑이', '토끼', '뱀']

In [72]:
#(9) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오. 
# ex) 단을 입력하시오 : 2  
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18

x = int(input("단을 입력하시오 :"))

for i in range(1,10):
    # print(x,"x",i,"=",i*x)
    print(f"{x} x {i} = {x*i}")

단을 입력하시오 :9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [31]:
#컴프리헨션

#(10) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]

new_lst = [i*2 for i in lst]
print(new_lst)

[20, 60, 140, 10, 240, 1400, 2, 70]

In [74]:
#(11) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플 묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]

new_dic = [(i,i*10) for i in lst]
new_dic

# dic은 키가 중복된 값이 나올 수 있기 때문에 좋지 않은 방법이다.

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [40]:
#(12) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]

new_lst = [i for i in lst2 if (i%3)==0 ]
print(new_lst)

[3, 33, 21, 33, 60, 120]

In [75]:
#(13) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

new_lst = [i for i in file_name if i.endswith(".exe")]
print(new_lst)

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [76]:
#(14) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

new_lst = [(i, len(i))for i in file_name if len(i)>=10 ]
print(new_lst)

# 반환하는 값을 튜플 괄호 쳐서 반환가능하다.

[('mystroy.txt', 11), ('jupyter.bat', 11), ('function.exe', 12)]

In [79]:
#(15) 다음 리스트에서 소문자만 가지는 새로운 리스트를 만드시오.
str_list = ["A", "B", "c", "D", "E", "F", "g", "h", "I", "J", "k"]

new_lst = [i for i in str_list if i.islower()]
print(new_lst)

new_lst = [i for i in str_list if i == i.lower() ]
print(new_lst)

['c', 'g', 'h', 'k']
['c', 'g', 'h', 'k']

In [77]:
# 한글자에 대해 대소문자를 알 수 있는 함수가 있다. bool로
"A".islower(), 'a'.islower()

(False, True)

In [78]:
'A'.isupper(), "a".isupper()

(True, False)